.factCard {
  border-radius: 1em;
  border: 4px solid white;
  text-align: left;
  padding: 1.5em;
  display: flex;
  max-width: 1200px;
  max-height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.factCard img {
  max-height: 300px;
  border-radius: 1em;
  margin-right: 1em;
}

.factCard .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 300px;
}

.factCard .content .title {
  margin: 0;
  text-transform: capitalize;
}

.factCard .content .text {
  overflow-y: auto;
  color: gray;
}
